* {
    box-sizing: border-box;
}
.container {
    border: 3px solid red;
    width: 500px;
    height: 500px;
    display: grid;
}
.container div {
    border: 1px solid black;
    aspect-ratio: 1;
}
