* {
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container {
    width: 500px;
    height: 500px;
    display: grid;
}
.container div {
    border: 1px solid black;
    aspect-ratio: 1;
}
.btn {
    height: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}